.c-sudoku {
  display: grid;
  justify-content: center;
  align-items: center;

  &--4 {
    grid-template-rows: repeat(2, 4rem);
    grid-template-columns: repeat(2, 4rem);
  }

  &--6 {
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(2, 4rem);
  }

  &--9 {
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
  }

  &--button-reset {
    justify-self: center;
  }
}
