.c-tiles {
  margin: 1rem 0;

  &__selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__sudoku {
    display: grid;
    border: 1px solid #000;
    border-left: none;

    &--4 {
      grid-template-columns: 2.1rem 2rem;
      grid-template-rows: repeat(2, 2rem);

      &:nth-child(-n + 2) {
        border-top: none;
      }
    }

    &--6 {
      grid-template-columns: 2.125rem 1.95rem 2rem;
      grid-template-rows: repeat(2, 2rem);

      &:nth-child(-n + 3) {
        border-top: none;
      }
    }

    &--9 {
      grid-template-columns: 2.125rem 1.95rem 2rem;
      grid-template-rows: repeat(3, 2rem);

      &:nth-child(-n + 3) {
        border-top: none;
      }
    }
  }
}

.c-tiles__sudoku > button {
  border-right: none;
  border-bottom: none;
}
